---
layout: layouts/base.njk
---

<div class="post">

	{# Only include the syntax highlighter CSS on blog posts, included with the CSS per-page bundle #}
	<div class="post-header">
		<h1>{{ title }}</h1>
		<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
	</div>
	<div class="post-metadata">
			<div class="metadata-item">
				{{ description }}
			</div>
	</div>


	{{ content | safe }}

	<div class="post-metadata">
			<div class="metadata-item">
					<strong>Tags:</strong>
							{%- for tag in tags %}
							{%- if tag != "posts" %} {# Skip the 'posts' tag #}
									<a href="/tags/{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
							{%- endif %}
							{%- endfor %}
			</div>
			<div class="metadata-item">
					<strong>Sources:</strong>
					<ul>
							{%- for source in sources %}
							<li><a href="{{ source }}" target="_blank">{{ source }}</a></li>
							{%- endfor %}
					</ul>
			</div>
	</div>

	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<ul class="links-nextprev">
		{%- if previousPost %}<li class="links-nextprev-prev">Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
		{%- if nextPost %}<li class="links-nextprev-next">Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
	</ul>
	{%- endif %}
	{%- endif %}

</div>
